/* Mobile first */
html {
  min-height: 100%;
  background: #e2e4e4;
}
body {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #f6f7f7 !important;
}

#header {
  display: inline-flex;
  justify-content: space-around;
  /* padding: 5px; */
  background: #606c76;
}
#header h1 {
  font-size: 23px;
  margin: 0;
  cursor: pointer;
}
#header h1:hover,
#header h1:focus {
  color: #9b4dca;
  background: #f6f7f7;
}
#poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title {
  text-align: center;
  padding: 1rem;
  color: #9b4dca;
}
#corps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
}
.articles {
  display: flex;
  flex-direction: column;
  background: #606c76;
  border-radius: 15px;
  text-align: center;
  padding: 10px 40px 20px 40px;
  margin: 20px;
  box-shadow: 10px 10px 10px #8a8a8a;
}
.articles h3 {
  text-transform: uppercase;
  font-size: 30px;
  margin: 10px;
}
.date {
  font-size: 20px;
}
.solo {
  width: 90%;
  padding: 10px 10px 20px 10px;
  margin: 0;
}
#article-main {
  margin: 1rem;
  text-align: justify;
}
form {
  background: #606c76;
  padding: 10px 60px 20px 60px;
  border-radius: 15px;
}
input[type="text"],
textarea {
  color: #f6f7f7;
}

#accepté {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
#accepté p,
#accepté a {
  width: 60%;
}
#accepté p {
  text-align: justify;
  color: #5c425f;
}

/* DESKTOP */
@media only screen and (min-width: 992px) {
  #header h1 {
    font-size: 50px;
  }
  #accepté p,
  #accepté a {
    width: 20%;
  }
}
